.header-tag{
    height: 8vh;
    border: 1px solid black;
    display: flex;
    align-items: center;
    padding-left: 20px;
    box-shadow: #98989862 0px 1px;
    border: 1px solid #889397;
}

.header-title{
    padding-left: 20px;
    font-family: 'Roboto', sans-serif;
}

.button-back{
    background-color: transparent;
    border: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s;
    border-radius: 5px;
    /* padding: 5px 0; */
}
.button-back:active{
    background-color: rgb(168, 168, 168);
}
.button-back img{
    width: 100%;
    height: 100%;
    height: 40px;
}