.nav {
  -webkit-box-shadow: #1f1f1f11 1.95px 1.95px 2.6px;
          box-shadow: #1f1f1f11 1.95px 1.95px 2.6px;
  height: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 90;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: white;
  width: 100%;
  border-bottom: 1px solid #88939793;
}

.nav .back {
  position: absolute;
  left: 3px;
  border-radius: 5px;
  outline: none;
  border: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 25px;
  width: 25px;
  background-color: transparent;
  -webkit-animation: showIn .3s;
          animation: showIn .3s;
  cursor: pointer;
}

.nav .back img {
  height: 100%;
}

.nav .back:active {
  background-color: #F2F2F2;
}

.nav .form {
  width: 60%;
  -webkit-transition: .5s;
  transition: .5s;
}

.nav .form .input-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #F2F2F2;
  border-radius: 32px;
}

.nav .form .input-container .input {
  height: 32px;
  border: 0;
  outline: none;
  padding-left: 10px;
  width: 100%;
  border-radius: 32px;
  font-family: 'Roboto', sans-serif;
  background-color: #F2F2F2;
}

.nav .form .input-container .search-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: transparent;
  border: 0;
  width: 50px;
  cursor: pointer;
}

.nav .form .input-container .search-button img {
  width: 16px;
  height: 16px;
}

.nav .form:focus-within {
  width: 80%;
}

.autocompleted-list {
  position: fixed;
  top: 48px;
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #ffffff;
  z-index: 100;
}

.autocompleted-list li {
  height: 80px;
}

.autocompleted-list li .autocompleted-element {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid rgba(128, 128, 128, 0.11);
  text-decoration: none;
  color: black;
  font-family: 'Roboto', sans-serif;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.autocompleted-list li .autocompleted-element .same-text {
  font-weight: 900;
}

.autocompleted-list li .autocompleted-element .autocompleted-text {
  padding-left: 15px;
}

.autocompleted-list li .autocompleted-element .preview {
  height: 80%;
  padding-right: 15px;
}

.autocompleted-list li .autocompleted-element:hover {
  background-color: rgba(128, 128, 128, 0.096);
}

.search-info {
  padding-left: 14px;
  margin: 0;
  padding: 10px 0 10px 0px;
  font-family: 'Roboto', sans-serif;
  color: #1f1f1f;
  font-size: 17px;
  border-bottom: 1px solid #F2F2F2;
  text-align: center;
}
/*# sourceMappingURL=SearchBar.css.map */