.fav-cont {
    height: 150px;
    filter: brightness(.7);
    display: grid;
    grid-template-columns: repeat(3, minmax(80px, 1fr));
    // width: calc(100% - 10px);
    grid-auto-rows: 75px;
    margin: 0 20px;
    video {
        object-fit: cover;
        height: 100%;
        width: 100%;
    }
}

.loading-div{
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    img{
        width: 55px;
        height:55px;
    }
}